{% extends 'base.html' %}

{% load static %}

{% block title %} {{ user.username }} {% endblock title %}

{% block main-content %}
<style>

    .icon-size{
    font-size:20px;
    }

    .profile-picture{
    border-radius: 50%;
    }
    .profile{
    margin: 50px 0px 0px 50px;
    }
    .profile-2nd{
    margin: 25px 0px 0px 50px;
    }


</style>
<div class="row">
    <div class="col-sm-4">
        <div class="profile border px-4 py-3">
            <div class="text-center">
                <div class="profile-picture">
                    <img src="{{ profile.profile_picture }}">
                </div>
                <div>
                    <h2>{{ profile.f_name }} {{ profile.l_name }}</h2>
                    <p>{{ user.username }}</p>
                    <button class="btn border-dark w-100"><b>Preview Fiverr Profile</b></button>
                </div>
            </div>
            <hr>
            <div>
                <div class="d-flex justify-content-between">
                    <div class="p-2">
                        <i class="material-icons icon-size">place</i> <span>From</span>
                    </div>
                    <div class="p-2">
                        <b>{{ profile.country }}</b>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="p-2">
                        <i class="material-icons icon-size">person</i> <span>Member Since</span>
                    </div>
                    <div class="p-2">
                        <b>{{ profile.member_since }}</b>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <div class="p-2">
                        <i class="material-icons icon-size">event_available</i> <span>Available</span>
                    </div>
                    <div class="p-2">
                        <button class="btn border-dark "><b>Set Availability</b></button>
                    </div>
                </div>
            </div>
        </div>


        <div class="profile-2nd border px-4 py-3">
            <div class="description">
                <h5 class="pb-3">Description</h5>
                <p>{{ profile.description }}</p>
            </div>
            <hr>
            <div class="languages">
                <h5 class="pb-3">Languages</h5>
                {% for language in languages %}
                <div class="d-flex">
                    <div>
                        <h6>{{ language.language_name }} -</h6>
                    </div>
                    <div>
                        <p>&#160;{{ language.language_level }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr>

            <div class="skills">
                <h5 class="pb-3">skills</h5>
                {% for skill in skills %}
                <div class="d-flex">
                    <ul>
                        <li><b>{{ skill.skill_name }} -</b> <span>{{ skill.experience_level }}</span> </li>
                    </ul>
                </div>
                {% endfor %}
            </div>
            <hr>

            <div class="education">
                <h5 class="pb-3">Education</h5>
                {% for edu in education %}
                <div class="d-flex">
                    <div>
                        <p>{{ edu.title }} -</p>
                    </div>
                    <div>
                        <p>&#160;{{ edu.major_subject }}</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p>{{ edu.institute_name }}, &#160;{{ edu.country_name }}, Graduated &#160;{{ edu.year_of_graduation }}</p>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="languages">
                <h5 class="pb-3">Certificates</h5>
                {% for certificate in certificates %}
                <div>
                    <div>
                        <h6>{{ certificate.certificate }}</h6>
                    </div>
                    <div>
                        <p>{{ certificate.certified_from }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}